.landingWrapper, .personalInfoWrapper, .chessInfoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FD5334;
}

.landingWrapper .landingWrapperCol, .landingWrapper .personalWrapperCol, .landingWrapper .chessWrapperCol, .personalInfoWrapper .landingWrapperCol, .personalInfoWrapper .personalWrapperCol, .personalInfoWrapper .chessWrapperCol, .chessInfoWrapper .landingWrapperCol, .chessInfoWrapper .personalWrapperCol, .chessInfoWrapper .chessWrapperCol {
  width: 50%;
}

.landingWrapper .landingWrapperCol.scrollable, .landingWrapper .personalWrapperCol.scrollable, .landingWrapper .chessWrapperCol.scrollable, .personalInfoWrapper .landingWrapperCol.scrollable, .personalInfoWrapper .personalWrapperCol.scrollable, .personalInfoWrapper .chessWrapperCol.scrollable, .chessInfoWrapper .landingWrapperCol.scrollable, .chessInfoWrapper .personalWrapperCol.scrollable, .chessInfoWrapper .chessWrapperCol.scrollable {
  height: 100vh;
  overflow-y: scroll;
}

.landingWrapper .landingWrapperCol.scrollable .landingIMGWrapper, .landingWrapper .personalWrapperCol.scrollable .landingIMGWrapper, .landingWrapper .chessWrapperCol.scrollable .landingIMGWrapper, .personalInfoWrapper .landingWrapperCol.scrollable .landingIMGWrapper, .personalInfoWrapper .personalWrapperCol.scrollable .landingIMGWrapper, .personalInfoWrapper .chessWrapperCol.scrollable .landingIMGWrapper, .chessInfoWrapper .landingWrapperCol.scrollable .landingIMGWrapper, .chessInfoWrapper .personalWrapperCol.scrollable .landingIMGWrapper, .chessInfoWrapper .chessWrapperCol.scrollable .landingIMGWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.landingWrapper .landingWrapperCol.scrollable .landingIMGWrapper img, .landingWrapper .personalWrapperCol.scrollable .landingIMGWrapper img, .landingWrapper .chessWrapperCol.scrollable .landingIMGWrapper img, .personalInfoWrapper .landingWrapperCol.scrollable .landingIMGWrapper img, .personalInfoWrapper .personalWrapperCol.scrollable .landingIMGWrapper img, .personalInfoWrapper .chessWrapperCol.scrollable .landingIMGWrapper img, .chessInfoWrapper .landingWrapperCol.scrollable .landingIMGWrapper img, .chessInfoWrapper .personalWrapperCol.scrollable .landingIMGWrapper img, .chessInfoWrapper .chessWrapperCol.scrollable .landingIMGWrapper img {
  width: 105%;
  height: 105%;
  -o-object-fit: fill;
     object-fit: fill;
}

.landingWrapper .landingWrapperCol.scrollable .landingTextWrapper, .landingWrapper .personalWrapperCol.scrollable .landingTextWrapper, .landingWrapper .chessWrapperCol.scrollable .landingTextWrapper, .personalInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper, .personalInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper, .personalInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper, .chessInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper, .chessInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper, .chessInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper {
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  width: 665px;
  margin-left: 85px;
  margin-top: 265px;
}

.landingWrapper .landingWrapperCol.scrollable .landingTextWrapper h1, .landingWrapper .personalWrapperCol.scrollable .landingTextWrapper h1, .landingWrapper .chessWrapperCol.scrollable .landingTextWrapper h1, .personalInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper h1, .personalInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper h1, .personalInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper h1, .chessInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper h1, .chessInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper h1, .chessInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper h1 {
  font-weight: 800;
  font-size: 80px;
  line-height: 110px;
  color: #FFFFFF;
}

.landingWrapper .landingWrapperCol.scrollable .landingTextWrapper span, .landingWrapper .personalWrapperCol.scrollable .landingTextWrapper span, .landingWrapper .chessWrapperCol.scrollable .landingTextWrapper span, .personalInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper span, .personalInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper span, .personalInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper span, .chessInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper span, .chessInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper span, .chessInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper span {
  color: #212529;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
}

.landingWrapper .landingWrapperCol.scrollable .landingTextWrapper button, .landingWrapper .personalWrapperCol.scrollable .landingTextWrapper button, .landingWrapper .chessWrapperCol.scrollable .landingTextWrapper button, .personalInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper button, .personalInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper button, .personalInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper button, .chessInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper button, .chessInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper button, .chessInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper button {
  margin-top: 100px;
  font-family: 'Open Sans', sans-serif;
  background-color: #212529;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  padding: 13px 24px;
  outline: unset;
  border: unset;
  border-radius: 8px;
  padding-right: 50px;
  background: url("@/assets/icons/btnVector.svg") no-repeat right center, #212529;
  background-position-x: 90%;
  border: 4px solid #FD5334;
}

.landingWrapper .landingWrapperCol.scrollable .landingTextWrapper button:hover, .landingWrapper .personalWrapperCol.scrollable .landingTextWrapper button:hover, .landingWrapper .chessWrapperCol.scrollable .landingTextWrapper button:hover, .personalInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper button:hover, .personalInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper button:hover, .personalInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper button:hover, .chessInfoWrapper .landingWrapperCol.scrollable .landingTextWrapper button:hover, .chessInfoWrapper .personalWrapperCol.scrollable .landingTextWrapper button:hover, .chessInfoWrapper .chessWrapperCol.scrollable .landingTextWrapper button:hover {
  border: 4px solid #C2A5F9CC;
}

.landingWrapper .landingWrapperCol ::-webkit-scrollbar, .landingWrapper .personalWrapperCol ::-webkit-scrollbar, .landingWrapper .chessWrapperCol ::-webkit-scrollbar, .personalInfoWrapper .landingWrapperCol ::-webkit-scrollbar, .personalInfoWrapper .personalWrapperCol ::-webkit-scrollbar, .personalInfoWrapper .chessWrapperCol ::-webkit-scrollbar, .chessInfoWrapper .landingWrapperCol ::-webkit-scrollbar, .chessInfoWrapper .personalWrapperCol ::-webkit-scrollbar, .chessInfoWrapper .chessWrapperCol ::-webkit-scrollbar {
  display: none;
}

.landingWrapper .personalWrapperCol .personalIMGWrapper, .personalInfoWrapper .personalWrapperCol .personalIMGWrapper, .chessInfoWrapper .personalWrapperCol .personalIMGWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.landingWrapper .personalWrapperCol .personalIMGWrapper img, .personalInfoWrapper .personalWrapperCol .personalIMGWrapper img, .chessInfoWrapper .personalWrapperCol .personalIMGWrapper img {
  width: 105%;
  height: 105%;
  -o-object-fit: fill;
     object-fit: fill;
}

.landingWrapper .personalWrapperCol .pictureText, .personalInfoWrapper .personalWrapperCol .pictureText, .chessInfoWrapper .personalWrapperCol .pictureText {
  width: 425px;
  position: absolute;
  top: 43%;
  left: 18.5%;
  font-family: 'Nunito', sans-serif;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.landingWrapper .personalWrapperCol .pictureText .quote, .personalInfoWrapper .personalWrapperCol .pictureText .quote, .chessInfoWrapper .personalWrapperCol .pictureText .quote {
  font-weight: 800;
  font-style: italic;
  font-size: 26px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #212529;
}

.landingWrapper .personalWrapperCol .pictureText .author, .personalInfoWrapper .personalWrapperCol .pictureText .author, .chessInfoWrapper .personalWrapperCol .pictureText .author {
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  color: #E5E6E8;
}

.personalInfoWrapper {
  background-color: #FFFFFF;
}

.personalInfoWrapper .personalWrapperCol.form .personalWrapperContent {
  padding-left: 50px;
  padding-right: 175px;
}

.personalInfoWrapper .personalWrapperCol.form .personalInfoTextWrapper {
  font-weight: 600;
  margin-top: 110px;
}

.personalInfoWrapper .personalWrapperCol.form .personalInfoTextWrapper * {
  font-family: 'Open Sans', sans-serif;
}

.personalInfoWrapper .personalWrapperCol.form .personalInfoTextWrapper h2 {
  font-size: 32px;
  line-height: 48px;
  color: #000;
}

.personalInfoWrapper .personalWrapperCol.form .personalInfoTextWrapper p {
  font-size: 14px;
  line-height: 21px;
  color: #95939A;
}

.personalInfoWrapper .personalWrapperCol.form .personalWrapperForm {
  margin-top: 45px;
}

.personalInfoWrapper .personalWrapperCol .navigationWrapper {
  padding-top: 60px;
}

.chessInfoWrapper {
  background-color: #FFFFFF;
}

.chessInfoWrapper .chessWrapperCol.form .chessWrapperContent {
  padding-left: 50px;
  padding-right: 110px;
}

.chessInfoWrapper .chessWrapperCol.form .chessInfoTextWrapper {
  font-weight: 600;
  margin-top: 110px;
}

.chessInfoWrapper .chessWrapperCol.form .chessInfoTextWrapper * {
  font-family: 'Open Sans', sans-serif;
}

.chessInfoWrapper .chessWrapperCol.form .chessInfoTextWrapper h2 {
  font-size: 32px;
  line-height: 48px;
  color: #000;
}

.chessInfoWrapper .chessWrapperCol.form .chessInfoTextWrapper p {
  font-size: 14px;
  line-height: 21px;
  color: #95939A;
}

.chessInfoWrapper .chessWrapperCol.form .chessWrapperForm {
  margin-top: 45px;
}

.chessInfoWrapper .chessWrapperCol .navigationWrapper {
  padding-top: 60px;
}

.chessInfoWrapper .chessWrapperCol .chessIMGWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.chessInfoWrapper .chessWrapperCol .chessIMGWrapper img {
  width: 105%;
  height: 105%;
  -o-object-fit: fill;
     object-fit: fill;
}

.chessInfoWrapper .chessIMGWrapper .pictureText {
  width: 615px;
  position: absolute;
  top: 36.5%;
  left: 22.5%;
  font-family: 'Nunito', sans-serif;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.chessInfoWrapper .chessIMGWrapper .pictureText .quote {
  font-weight: 800;
  font-style: italic;
  font-size: 26px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #212529;
}

.chessInfoWrapper .chessIMGWrapper .pictureText .author {
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  color: #093F68;
  text-align: end;
}
/*# sourceMappingURL=Wrappers.css.map */