@mixin default-btn
    font-family: 'Open Sans', sans-serif
    background-color: $defaultBtn
    color: $default
    cursor: pointer

    font-size: 20px
    line-height: 27px
    font-weight: 400

    padding: 13px 24px
    outline: unset
    border: unset
    border-radius: 8px
@mixin default-btn-hover
    border: 4px solid #C2A5F9CC
