.errorParent
    width: 350px
    padding: 10px 12px
    border: 1px #0000001A solid
    border-radius: 4px
    box-shadow: 0 8px 16px #00000026
    *
        font-family: 'Open Sans', sans-serif
    .errorHeaderWrapper
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        .errorHeader
            display: flex
            justify-content: flex-start
            .errTitle
                color: #DC3545
                font-weight: 600
                font-size: 14px
                line-height: 21px
                margin-left: 8px
        .closeIcon
            float: right
            cursor: pointer
    .errDesc
        margin-top: 20px
        font-weight: 400
        font-size: 16px
        line-height: 24px
        color: $main
