input {
  display: block;
  margin-top: 40px;
  border: unset;
  outline: unset;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1960784314);
}
input.active {
  border: unset;
  outline: unset;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1960784314);
  background-color: #E9ECEF;
}
input.error {
  border: unset;
  outline: unset;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1960784314);
  color: #DC3545;
  background-color: #FFEFEF;
}
input.valid {
  border: unset;
  outline: unset;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(33, 37, 41, 0.1960784314);
  background-color: transparent;
  background: url(@/assets/icons/validVector.svg) no-repeat right center;
  background-position-x: 98.5%;
}

input:hover::-moz-placeholder {
  color: rgba(33, 37, 41, 0.5019607843);
}

input:hover:-ms-input-placeholder {
  color: rgba(33, 37, 41, 0.5019607843);
}

input:hover::placeholder {
  color: rgba(33, 37, 41, 0.5019607843);
}

::-moz-placeholder {
  color: #212529;
}

:-ms-input-placeholder {
  color: #212529;
}

::placeholder {
  color: #212529;
}

.navButtonWrapper {
  width: 100%;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 620px) {
  .navButtonWrapper {
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
  }
}
.navButtonWrapper .nextBtn {
  font-family: "Open Sans", sans-serif;
  background-color: #212529;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  padding: 13px 24px;
  outline: unset;
  border: unset;
  border-radius: 8px;
  padding-right: 60px;
  background: url(../../assets/icons/btnVector.svg) no-repeat right center, #212529;
  background-position-x: 80%;
}
@media screen and (max-width: 620px) {
  .navButtonWrapper .nextBtn {
    padding-right: 45px;
    background-position-x: 65%;
  }
}
.navButtonWrapper .backBtn {
  font-family: "Open Sans", sans-serif;
  background-color: #212529;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  padding: 13px 24px;
  outline: unset;
  border: unset;
  border-radius: 8px;
  color: #212529;
  background-color: transparent;
  border: 1px solid #212529;
}
.navButtonWrapper .backBtn:hover {
  background-color: rgba(185, 180, 195, 0.3019607843);
  border: 1px solid rgba(194, 165, 249, 0.8);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.errorsWrapper {
  position: absolute;
  top: 23%;
  right: 5%;
  z-index: 10;
  margin-top: 10px;
}

.valid::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}/*# sourceMappingURL=PersonalForm.css.map */